<div class="conteiner-main">
  <aside id="sidebar" class="sidebar  transition lighten-5">
      <div class="logo">
        <div class="logo-conteiner ">
          <div class="logo-title transition ">
            <font style="vertical-align:inherit;">Appstergo</font>
          </div>
          <i id="btnMenu" class="icon-menu1 transition"></i>
        </div>
      </div>
      <div class="conteiner-menu">
        <ul class="menu">
          <li class="item-menu">
              <a href="#" class="item-menu-label  CL1 active  greytext">
                <i class="icon-dashboard"></i>
                <span class="item-menu-title">dashboard</span>
              </a>
          </li>
          <li class="item-menu">
              <a href="#" class="item-menu-label  CL1  greytext">
                <i class="icon-calendario"></i>
                <span class="item-menu-title">calendario</span>
              </a>
          </li>
          <li class="item-menu">
              <a href="#" class="item-menu-label  CL1  greytext">
                <i class="icon-chat"></i>
                <span class="item-menu-title">mensajes</span>
              </a>
          </li>
          <li class="item-menu conteiner-submenu">
              <a href="#" class="item-menu-label  CL1  greytext">
                <i class="icon-store"></i>
                <span class="item-menu-title">Tienda</span>
                <i class="icon-arrordown"></i>
              </a>
              <ul class="submenu">
                <li class="item-menu">
                    <a href="#" class="item-menu-label  CL1  greytext">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">item</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="#" class="item-menu-label  CL1  greytext">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">item</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="#" class="item-menu-label  CL1  greytext">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">item</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="#" class="item-menu-label  CL1  greytext">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">item</span>
                    </a>
                </li>
              </ul>
          </li>
          <li class="item-menu conteiner-submenu">
              <a href="#" class="item-menu-label  CL1  greytext">
                <i class="icon-facturas"></i>
                <span class="item-menu-title">Facturas</span>
                <i class="icon-arrordown"></i>
              </a>
              <ul class="submenu">
                <li class="item-menu">
                    <a href="#" class="item-menu-label  CL1  greytext">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">item</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="#" class="item-menu-label  CL1  greytext">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">item</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="#" class="item-menu-label  CL1  greytext">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">item</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="#" class="item-menu-label  CL1  greytext">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">item</span>
                    </a>
                </li>
              </ul>
          </li>
        </ul>
      </div>
  </aside>
  <section id="content" class="content lighten-5">
    <nav id="navbar" class="navbar lighten-5">
      <ul class="menubar">
        <li class="item-menubar">
            <a href="#" class="icon-lupa"></a>
        </li>
        <li class="item-menubar">
            <a href="#" class="icon-sun"></a>
        </li>
        <li class="item-menubar">
            <a href="#" class="icon-shopping_car"></a>
        </li>
        <li class="item-menubar">
            <a href="#" class="icon-bell"></a>
        </li>
        <li class="item-menubar">
            <a href="#" class="icon-usuarios"></a>
        </li>
         <li class="item-menubar">
            <a href="#" class="icon-logout"></a>
        </li>
      </ul>
    </nav>
    <div class="text">
      este es un texto de prueba.
    </div>
    <router-outlet></router-outlet>
  </section>
  <div id="visuales" class="visuales transition lighten-5 greytext">
    <div id="btnOpenVisuales" class="label-config">
      <a>
        <i class="icon-engrane"></i>
      </a>
    </div>
    <div class="visuales-header">
      <div class="visuales-title">
        <font style="vertical-align:inherit ;">
          Preferencias Visuales
        </font>
      </div>
      <i id="btnCloseVisuales" class="icon-close"></i>
    </div>    
    <div class="divider"></div>
    <div class="visual-mode">
        <div class="visual-mode-title">
          <font style="vertical-align:inherit ;">
              Tema
          </font>
        </div>
        <div class="layout-mode">
          <i id="sun" class="icon-sun active"></i>
          <label  class="switch">
            <input type="checkbox"  id="btnModo">
            <span class="slider round"></span>
          </label>
          <i id="moon" class="icon-moon2"></i>
        </div>
    </div>
    <div class="divider"></div>
    <div class="visual-color">
      <div class="visual-color-title">
        <font style="vertical-align:inherit;">Color de etiquetas </font>
      </div>
      <div class="color-panel">
        <button  type="button" class="btn CL1" (click)="SetColorLabel('')"></button>
        <button  type="button" class="btn CL2" (click)="SetColorLabel('#d32f2f')"></button>
        <button  type="button" class="btn CL3" (click)="SetColorLabel('#c2185b')"></button>
        <button  type="button" class="btn CL4" (click)="SetColorLabel('#7b1fa2')"></button>
        <button  type="button" class="btn CL5" (click)="SetColorLabel('#5e35b1')"></button>
        <button  type="button" class="btn CL6" (click)="SetColorLabel('#1e88e5')"></button>
        <button  type="button" class="btn CL7" (click)="SetColorLabel('#039be5')"></button>
        <button  type="button" class="btn CL8" (click)="SetColorLabel('#388e3c')"></button>
        <button  type="button" class="btn CL9" (click)="SetColorLabel('#ffa000')"></button>
        <button  type="button" class="btn CL10" (click)="SetColorLabel('#FFFFFF')"></button>
      </div>
    </div>
  
    <div class="color-sidebar">
      <div class="color-sidebar-title">
        <font style="vertical-align:inherit;">Color de menu lateral</font>
      </div>
      <div class="color-sidebar-panel">
        <button  type="button" class="btn CL9"  (click)="SetSideBar('#ffa000')"></button>
        <button  type="button" class="btn CL2"  (click)="SetSideBar('#d32f2f')"></button>
        <button  type="button" class="btn CL8"  (click)="SetSideBar('#388e3c')"></button>
        <button  type="button" class="btn CL4"  (click)="SetSideBar('#7b1fa2')"></button>
        <button  type="button" class="btn CL10" (click)="SetSideBar('#FFFFFF')" ></button>
      </div>
    </div>
    
   <div class="color-menubar">
      <div class="color-menubar-title">
        <font style="vertical-align:inherit;">Color de menu </font>
      </div>
      <div class="color-menubar-panel">
        <button  type="button" class="btn CL9"   (click)="setNavColor('#ffa000')"></button>
        <button  type="button" class="btn CL2"   (click)="setNavColor('#d32f2f')"></button>
        <button  type="button" class="btn CL8"   (click)="setNavColor('#388e3c')"></button>
        <button  type="button" class="btn CL4"   (click)="setNavColor('#7b1fa2')"></button>
        <button  type="button" class="btn CL10"  (click)="setNavColor('#FFFFFF')"></button>
      </div>
    </div>
    
  </div>
</div>

